/* Base tag style */
.tag {
  font-family: var(--font-headings);
  font-weight: 300;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.45rem 0.85rem 0.25rem 0.85rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  display: inline-block;
  line-height: 1.3;
  /* Default style if no specific color applies */
  background-color: #eaf0f6;
  color: #183153;
}

/* Växter tag */
.tag[href^="/tags/example-tag"] {
  background-color: #fcc0d4;
  color: #8f133c;
}
.tag[href^="/tags/example-tag"]:hover {
  background-color: #f62d71;
  color: #fff;
}

/* Default hover state for any unspecified tags */
.tag:hover {
  background-color: #183153;
  color: #fff;
}

section.archive-posts .post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  width: 100%; /* Add this */
  margin: 0.5rem 0; /* Add this */
}

article.post .post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center; /* Add this */
  align-items: center;
  width: 100%; /* Add this */
  margin: 0.5rem 0; /* Add this */
}
