---
layout: base
title: Home
---

<div class="hero">
    <div class="hero-content">
        <h1>Välkommen till min blogg</h1>
        <p>Här delar jag tankar, funderingar och insikter om allt som fångar mitt intresse – från vardagliga mysterier till större reflektioner. Utforska, inspireras och följ med i mina små och stora upptäckter!</p>
    </div>
    <div class="hero-image">
        <img src="/assets/images/home-1.png" alt="Profile picture" class="profile-image">
    </div>
</div>

<section class="latest-posts">
    <h2>Senaste Inläggen</h2>
    <ol class="posts-list">
        {% set postslist = collections.posts %}
        {% for post in postslist.slice(0,5) %}
        <li class="post-item">
            <span class="post-date">{{ post.date | dateFilter }}</span>
            <a href="{{ post.url }}" class="post-title">{{ post.data.title }}</a>
        </li>
        {% endfor %}
    </ol>
</section>